<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Purpose-of-this-Notebook" data-toc-modified-id="Purpose-of-this-Notebook-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Purpose of this Notebook</a></span></li><li><span><a href="#Importing-the-dataset-and-libraries" data-toc-modified-id="Importing-the-dataset-and-libraries-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Importing the dataset and libraries</a></span><ul class="toc-item"><li><span><a href="#Import-Libraries" data-toc-modified-id="Import-Libraries-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Import Libraries</a></span></li><li><span><a href="#Helper-Functions" data-toc-modified-id="Helper-Functions-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Helper Functions</a></span></li><li><span><a href="#Importing-the-dataset" data-toc-modified-id="Importing-the-dataset-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Importing the dataset</a></span></li></ul></li><li><span><a href="#Data-Manipulation" data-toc-modified-id="Data-Manipulation-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Data Manipulation</a></span><ul class="toc-item"><li><span><a href="#Defining-Feature-Categories" data-toc-modified-id="Defining-Feature-Categories-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Defining Feature Categories</a></span></li><li><span><a href="#Aggregating-the-Data" data-toc-modified-id="Aggregating-the-Data-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Aggregating the Data</a></span></li><li><span><a href="#Conclusion" data-toc-modified-id="Conclusion-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Conclusion</a></span></li></ul></li><li><span><a href="#Feature-Extraction" data-toc-modified-id="Feature-Extraction-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Feature Extraction</a></span><ul class="toc-item"><li><span><a href="#Date-column" data-toc-modified-id="Date-column-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Date column</a></span></li><li><span><a href="#Overall-Energy" data-toc-modified-id="Overall-Energy-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Overall Energy</a></span><ul class="toc-item"><li><span><a href="#Lag-Time-Features" data-toc-modified-id="Lag-Time-Features-4.2.1"><span class="toc-item-num">4.2.1&nbsp;&nbsp;</span>Lag Time Features</a></span></li><li><span><a href="#Rolling-Window-Statistics" data-toc-modified-id="Rolling-Window-Statistics-4.2.2"><span class="toc-item-num">4.2.2&nbsp;&nbsp;</span>Rolling Window Statistics</a></span></li></ul></li></ul></li><li><span><a href="#Notebook-Conclusion" data-toc-modified-id="Notebook-Conclusion-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Notebook Conclusion</a></span></li></ul></div>

# ORNL Research House Project

This project will look at the dataset from the Oak Ridge National Laborotary research house. This is a house solitely built for research somewhere in East Tennessee, USA. The house is comprised with various sensors that record energy usage and weather data every 15 minutes. For this project I will be using the dataset found in this (link)[]. This comprises records from the house between 2013-2014. The aim of the project is to understand hidden patterns in the energy usage of this establishment and perhaps uncover relationships between weather data and energy usage. 


![ORNL](img/ORNL_house.jpg)


The project will be divided in four distinct stages:

1. **Data Wrangling / Cleaning :** This where we import the dataset and carry out some initial manipulation and cleaning before we proceed to analysis


2. **Data Manipulation / Feature Extraction :** At this point we have a fairly cleaned data that is ready to be analysed. Before that we will split the data into different parts so we can organise our study better and extract some useful features from current features that will be useful for the next section. 


3. **Exploratory Data Analysis :** Using the cleaned data we will use visualisation techniques in Python to get a better understanding of the data, establish relationships and understand potential modelling applciations.


4. **Modeling :** This section will use the results of the second step to carry out some modeling techniques to perhaps carry out some predictive analytics that will be useful.



This second notebook will focus on the second part of the of the project "Data Manipulation / Feature Extraction ".

## Purpose of this Notebook
The purpose of this notebook is to organise the data into different subsets that will be used for analysis. I will also extract some features from the current features that will be used in the next notebook for visualisation. The steps followed will be:

- Import the cleaned data and organise it
- Data manipulation
- Feature extraction per column

## Importing the dataset and libraries
For this notebook as we are doing mainly dataframe manipulation we will only need numpy and pandas.

### Import Libraries

In [1]:
# Importing the libraries
#________________________

#-----------------------------
# Data manipulation libraries
#-----------------------------
import pandas as pd
import numpy as np
from collections import defaultdict

### Helper Functions

In [2]:
# Get columns definitions
def define_columns(columns_list, legend_df):
    """
    Takes in a list of columns and returns their definitions
    """
    for col in columns_list:
        
        print("{} : {}".format(col, list(legend_df[legend_df["Feature Name"] == col]["Description"])[0]))


# Printing bold as output
def print_bold(text):
    
    print ('\033[1m' + text + '\033[0m')

### Importing the dataset
Similar to the previous notebook we will import both the data and the legend for it to help us define each feature. I have also copied the function _define from the last workbook that provides the definition of each column.

In [3]:
# Importing the data
df_main = pd.read_csv("data/cleandata.csv")
legend_df = pd.read_excel("data/data_legend.xlsx")

# Define interested columns
rel_cols = ["CC3 - Campbell ID", "Description", "Sensor location", "Units"]

# Get only the relevant data
legend_df = legend_df[["CC3 - Campbell ID", "Description", "Sensor location", "Units"]]

# Rename the first column to something for intuitive
legend_df = legend_df.rename(columns = {"CC3 - Campbell ID" : "Feature Name"})

# Present the data
display(legend_df)

,Feature Name,Description,Sensor location,Units
0,TIMESTAMP,Date and Time,NaN,NaN
1,RECORD,Datalogger record number,NaN,NaN
2,main_Tot,"Energy, Main electrical feed",Panel,Watt-hours
3,Batt_Volt_Avg,Datalogger Battery Voltage,DAS,Volts
4,PV_generated_Tot,"Energy, Solar PV system",Panel,Watt-hours
5,HP_in_Tot,"Energy, Heat pump inside unit",Panel,Watt-hours
6,HP_out_Tot,"Energy, Heat pump outside unit",Panel,Watt-hours
7,Fantech_Tot,"Energy, Recovery Ventilator",Utility Rm,Watt-hours
8,solar_HW_pump_Tot,"Energy, Solar water heater",Utility Rm,Watt-hours
9,HW_Tot,"Energy, Hot water heater",CC3 utility rm,Watt-hours
10,bathup_lts_Tot,"Energy, Lights in all 3 bathrm + 4 bath exhaus...",Panel,Watt-hours
11,LVL1_lts_Tot,"Energy, Lights in Great Rm and Dining Rm",Panel,Watt-hours
12,bed_Tot,"Energy, Lights & plugs in all 3 bedrooms, bonu...",Panel,Watt-hours
13,dryer_Tot,"Energy, Dryer",Panel,Watt-hours
14,wash_Tot,"Energy, Washing maching",Panel,Watt-hours
15,kitch_plg_Tot,"Energy, Human Generator on kitchen counter.",Panel,Watt-hours
16,LVL1_plg_Tot,"Energy, Remaining level 1 plugs + DAS + smoke ...",Panel,Watt-hours
17,gar_ext_plg_Tot,"Energy, All garage plugs + all exterior plugs",Panel,Watt-hours
18,fridge_Tot,"Energy, Refrigerator",Panel,Watt-hours
19,dish_Tot,"Energy, Dishwasher",Panel,Watt-hours
20,range_Tot,"Energy, Range",Panel,Watt-hours
21,RoofS_tmp_Avg,"Temp, Under OSB sheathing, 8 ft down, south si...",Attic,deg F
22,AtticFlrS_tmp_Avg,"Temp, Attic floor below HFT, south side",Attic,deg F
23,RoofN_tmp_Avg,"Temp, Under OSB sheathing, 8 ft down, north si...",Attic,deg F
24,AtticFlrN_tmp_Avg,"Temp, Attic floor below HFT, north side",Attic,deg F
25,BonusFlr_tmp_Avg,"Temp, Bonus room floor below flooring",Bonus floor,deg F
26,CantFlr_tmp_Avg,"Temp, Cantilever floor of Bedrm 2 above porch,...",Bedrm 2 floor,deg F
27,WallNcav_tmp_Avg,"Temp, Wall cavity, north side, inside of ext OSB",Bedrm 3,deg F
28,WallNsrf_tmp_Avg,"Temp, Drywall surface, north side",Bedrm 3,deg F
29,WallScav_tmp_Avg,"Temp, Wall cavity, south side, inside of ext...",Master Bedrm,deg F
...,...,...,...,...
73,HWcold_tmp_Avg,"Temp, Cold water supply",Garage by reg.,deg F
74,Shower_tmp_Avg,"Temp, Master shower",Master shower,deg F
75,HW_flow_Tot,"Water flow, Hot water supply",Water heater,gal
76,WHouse_flow_Tot,"Water flow, Cold water supply",Garage by reg.,gal
77,DishHot_flow_Tot,"Water flow, Dishwasher supply",Under sink,gal
78,WashCold_flow_Tot,"Water flow, Laundry, cold",Behind washer,gal
79,WashHot_flow_Tot,"Water flow, Laundry, hot",Behind washer,gal
80,MShower_flow_Tot,"Water flow, Shower",Master bath,gal
81,FanT_SUPflow_Tot,"Air flow, HRV supply duct",Utility Rm,cu-ft
82,FanT_RETflow_Tot,"Air flow, HRV return duct",Utility Rm,cu-ft
83,Outside_Tmp_Avg,"Temp, Weather station",Behind house 3,deg F
84,Outside_RH_Avg,"Humidity, Weather station",Behind house 3,%RH
85,wind_speed_mean,"Horizontal wind speed, Weather station",Behind house 3,mph
86,wind_dir_mean,"Wind direction, Weather station",Behind house 3,deg
87,wind_dir_std,"Std. dev. wind direction, Weather station",Behind house 3,deg
88,SlrW1_Avg,"Solar radation, Weather station",Behind house 3,W/m2
89,SlrW_Avg,"Solar radation, Roof, Solar hot water collecto...",Behind house 3,W/m2
90,SlrW_PV_Avg,"Solar radation, Roof, Solar PV plane",Behind house 3,W/m2
91,SlrW_Swall_Avg,"Solar radation, South wall",Behind house 3,W/m2
92,Rain_in_Tot,Precipitation,Behind house 3,inches
93,bath_plg_Tot,"Energy, All bathroom outlets: Heater in master...",Panel,Watt-hours
94,gar_ext_lts_Tot,"Energy, All garage and exterior lights",Panel,Watt-hours
95,garage_tmp_Avg,"Temp, center of garage",Garage,deg F
96,jacuzzi_plg_Tot,"Energy, jacuzzi outlet: Level 2 Human Gen and ...",garage,Watt-hours
97,dishHot_tmp_Avg,"Temp, thermister secured to surface of dishwas...",Under Kitch sink,deg F
98,washHot_tmp_Avg,"Temp, thermister secured to surface of clothes...",Water heater,deg F
99,L1_heater_Tot,"Energy, Level 1 Heater, (added 11-30-11)",great room,Wh
100,Tstat1_tmp_Avg,"Temp, thermistor on wall near level 1 thermostat",Tstat 1,deg F
101,Tstat2_tmp_Avg,"Temp, thermistor on wall near level 2 thermostat",Tstat 2,deg F
102,TV_plg_Tot,"Energy, flat panel TV",great room,Watt-hours

Have a quick look at the data to remind us what we are dealing with.

In [4]:
df_main.head(10)

,TIMESTAMP,RECORD,main_Tot,Batt_Volt_Avg,PV_generated_Tot,HP_in_Tot,HP_out_Tot,Fantech_Tot,solar_HW_pump_Tot,HW_Tot,...,SlrW_Swall_Avg,Rain_in_Tot,bath_plg_Tot,gar_ext_lts_Tot,garage_tmp_Avg,jacuzzi_plg_Tot,L1_heater_Tot,Tstat1_tmp_Avg,Tstat2_tmp_Avg,TV_plg_Tot
0,2013-10-01 00:15:00,767,175.0,12.82,0.00,2.50,8.25,9.000,0.0,0.0,...,0.106,0.0,6.750,0.500,69.92,33.88,48.380,76.40,0.0,0.208
1,2013-10-01 00:30:00,768,250.0,12.81,0.75,5.00,15.75,0.708,0.0,0.0,...,0.077,0.0,0.625,1.250,69.87,61.25,93.000,76.40,0.0,0.375
2,2013-10-01 00:45:00,769,182.5,12.81,0.75,5.00,15.75,18.250,0.0,0.0,...,0.133,0.0,0.750,1.250,69.81,68.00,0.500,76.27,0.0,0.396
3,2013-10-01 01:00:00,770,165.0,12.81,0.75,6.25,16.50,0.667,0.0,0.0,...,0.000,0.0,0.625,1.125,69.79,60.75,0.375,76.12,0.0,0.417
4,2013-10-01 01:15:00,771,347.5,12.81,0.00,5.00,15.75,17.630,0.0,0.0,...,0.000,0.0,58.750,1.250,69.78,65.50,89.100,76.27,0.0,0.375
5,2013-10-01 01:30:00,772,242.5,12.81,0.75,5.00,16.50,0.667,0.0,0.0,...,0.122,0.0,0.500,1.250,69.73,59.50,51.250,76.33,0.0,0.375
6,2013-10-01 01:45:00,773,200.0,12.81,0.75,5.00,16.50,17.750,0.0,0.0,...,0.000,0.0,0.625,1.125,69.69,66.00,0.375,76.25,0.0,0.396
7,2013-10-01 02:00:00,774,170.0,12.81,0.75,5.00,15.75,0.667,0.0,0.0,...,0.000,0.0,0.625,1.250,69.64,59.00,0.500,76.11,0.0,0.396
8,2013-10-01 02:15:00,775,335.0,12.81,0.00,5.00,16.50,17.750,0.0,0.0,...,0.011,0.0,50.250,1.250,69.63,59.88,90.500,76.19,0.0,0.375
9,2013-10-01 02:30:00,776,215.0,12.80,0.75,5.00,16.50,0.708,0.0,0.0,...,0.110,0.0,0.625,1.125,69.63,66.88,52.630,76.20,0.0,0.396

As a reminder we have a dataset with 98 different features with most of them being sensors. For the purpose of this analysis we will work mainly on the overall energy consumption sensor but we might need to use some of the other columns too from time to time. In the next section we will separate the dataset in subsets based on the columns.

## Data Manipulation
Data manipulation as the name suggests, involves the rearrangement and editing of the data set itself to suit your needs for analysis. This might involve aggregating features, removing / adding columns and splitting the dataset. In this section we will mainly focus on splitting the database into subsets that will later on used for analysis. 

The strategy I took was to go through the data feature descriptions, manually and try to aggregate them in some ways that make sense. I have managed to form the following categories of data:

- HVAC : Any sensor that is related to energy consumption from HVAC
- Generated Energy : Sensors from solar panels that indicate solar energy generation / usage
- Appliances : Sensors related to appliances around the house
- Lights / Plugs / Other : Any other form of energy consumption inside the house
- Indoor Temps : Temperature sensors for indoor places
- Weather Data : Data coming from the weather station, representing the actual weather data / outdoor

The following script defines the relevant columns for each of the above categories. Following that I will proceed on creating a more generic dataset that will contain aggregated features of each categories. This will allow a much better and smooth analysis and if at anytime there is some doubt I can always get more details by looking at a specific column.

### Defining Feature Categories

In [5]:
# Defining the lists of features
#-------------------------------

# Group the measurements in lists
#--------------------------------

# Get all the temperature sensors for rooms around the house
room_temps = ["Din_tmp_Avg","Grt_tmp_Avg","Brkf_tmp_Avg",
              "Kit_tmp_Avg","BedM_tmp_Avg","Bed3_tmp_Avg",
              "Bed2_tmp_Avg","BedB_tmp_Avg", "garage_tmp_Avg"]

# Energy sensors from appliances
appliances_enrgy = ["fridge_Tot","dish_Tot","dryer_Tot",
                    "jacuzzi_plg_Tot","TV_plg_Tot"]

# HVAC Sensors
HVAC_sensors = ["HP_in_Tot", "HP_out_Tot",
                "Fantech_Tot", "solar_HW_pump_Tot", "HW_Tot",
                "L1_heater_Tot"]

# Energy Generation
Energy_gen = ["PV_generated_Tot", "solar_HW_pump_Tot"]

# Weather station data 
weather_station = ["Outside_Tmp_Avg", "Outside_RH_Avg", "wind_speed_mean",
                  "wind_dir_mean", "SlrW1_Avg", "Rain_in_Tot"]

# Plugs / Lights / Other energy usage

plugs_lights_sensors = ["bathup_lts_Tot", "LVL1_lts_Tot", "bed_Tot",
                        "LVL1_plg_Tot", "gar_ext_plg_Tot", "bath_plg_Tot",
                        "gar_ext_lts_Tot"]


# Define the columns that are needed for all analysis
main_columns = ["TIMESTAMP", "RECORD", "main_Tot"]

It is noted that some features have been excluded from the above grouping method, this is because they aren't relevant for analysis or will make the analysis a lot more complex. The following block gives a definition of each feature per category.

In [6]:
# MAIN COLUMNS
print_bold("Main Features")
print()
define_columns(main_columns, legend_df)
print()

# INDOOR TEMP
print_bold("Indoor Temperature")
print()
define_columns(room_temps, legend_df)
print()

# WEATHER STATION
print_bold("Weather Station")
print()
define_columns(weather_station, legend_df)
print()

# HVAC
print_bold("HVAC")
print()
define_columns(HVAC_sensors, legend_df)
print()

# ENERGY GEN / SOLAR
print_bold("Energy Generated")
print()
define_columns(Energy_gen, legend_df)
print()

# APPLIANCES
print_bold("Appliances")
print()
define_columns(appliances_enrgy, legend_df)
print()

# PLUGS / LIGHTS
print_bold("Plugs / Lights")
print()
define_columns(plugs_lights_sensors, legend_df)
print()

Main Features

TIMESTAMP : Date and Time
RECORD : Datalogger record number
main_Tot : Energy, Main electrical feed

Indoor Temperature

Din_tmp_Avg : Temp, Room ambient
Grt_tmp_Avg : Temp, Room ambient
Brkf_tmp_Avg : Temp, Room ambient
Kit_tmp_Avg : Temp, Room ambient
BedM_tmp_Avg : Temp, Room ambient
Bed3_tmp_Avg : Temp, Room ambient
Bed2_tmp_Avg : Temp, Room ambient
BedB_tmp_Avg : Temp, Room ambient
garage_tmp_Avg : Temp, center of garage

Weather Station

Outside_Tmp_Avg : Temp, Weather station
Outside_RH_Avg : Humidity, Weather station
wind_speed_mean : Horizontal wind speed, Weather station
wind_dir_mean : Wind direction, Weather station
SlrW1_Avg : Solar radation, Weather station
Rain_in_Tot : Precipitation

HVAC

HP_in_Tot : Energy, Heat pump inside unit
HP_out_Tot : Energy, Heat pump outside unit
Fantech_Tot : Energy, Recovery Ventilator
solar_HW_pump_Tot : Energy, Solar water heater
HW_Tot : Energy, Hot water heater
L1_heater_Tot : Energy, Level 1 Heater, (added 11-30-11)

Energy Generated

PV_generated_Tot : Energy, Solar PV system
solar_HW_pump_Tot : Energy, Solar water heater

Appliances

fridge_Tot : Energy, Refrigerator
dish_Tot : Energy, Dishwasher
dryer_Tot : Energy, Dryer
jacuzzi_plg_Tot : Energy, jacuzzi outlet: Level 2 Human Gen and  shower solenoid
TV_plg_Tot : Energy, flat panel TV

Plugs / Lights

bathup_lts_Tot : Energy, Lights in all 3 bathrm + 4 bath exhaust fans
+ laundry light + stair lights + kitchen lights
LVL1_lts_Tot : Energy, Lights in Great Rm and Dining Rm
bed_Tot : Energy, Lights & plugs in all 3 bedrooms, bonus rm, level 2 hall plug
LVL1_plg_Tot : Energy, Remaining level 1 plugs + DAS + smoke det. + attic light/plug
gar_ext_plg_Tot : Energy, All garage  plugs + all exterior plugs
bath_plg_Tot : Energy, All bathroom outlets: Heater in master bathroom
gar_ext_lts_Tot : Energy, All garage and exterior lights

### Aggregating the Data
In this section we will use the categories from above to aggregate the data together into a single column per category. This will give us a much "simpler" well organised dataset to work with.

In [7]:
# Add the main columns and weather data to a new dataset
# This is data that needs no manipulation
#-------------------------------------------------------

# Create a new dataset with the main columns and weather data (no aggregation needed)
df_agg = pd.DataFrame(df_main[main_columns + weather_station])


# Indoor Temperature Average
#---------------------------

# Get the average between all indoor rooms temperatures
df_agg["Indoor Temp"] = df_main[room_temps].mean(axis=1)


# Aggregate the sensor data
#---------------------------

# Define a dictionary for category and columns
d = defaultdict(list)

d = {
    "Energy Gen" : Energy_gen,
    "HVAC" : HVAC_sensors,
    "Appliances" : appliances_enrgy,
    "LightPlugs" : plugs_lights_sensors
    }

# Define function for aggregating / summing the sensors
def aggregate_data(dictionary, df_old, df_new):
    
    """
    
    Takes in a dictionary of columns and new_column names
    and loops through it. For each category (key) of columns
    it aggregates them into one column by summing them up.
    It then builds a dataframe with the new columns using
    the dictionary keys as names.
    
    """
    
    # Loop through the keys / values of the dictionary
    for col, feature_list in d.items():
            
        # Loop through values
        for feature in feature_list:
            
            # 
            
            # If the columns isn't present in the new dataset
            if not(col in df_new.columns):
                
                # Create the column
                df_new[col] = df_old[feature]
                
            else:
                
                # Add to the existing column
                df_new[col] = df_new[col] + df_old[feature]
                
    return df_new

# Run the function
df_agg = aggregate_data(d, df_main, df_agg)

We will now display the newly formed dataset

In [8]:
# Display data info
print("The dataset has {} rows and {} features".format(df_agg.shape[0], df_agg.shape[1]))

# Display first 10 rows
df_agg.head(10)

The dataset has 35040 rows and 14 features

,TIMESTAMP,RECORD,main_Tot,Outside_Tmp_Avg,Outside_RH_Avg,wind_speed_mean,wind_dir_mean,SlrW1_Avg,Rain_in_Tot,Indoor Temp,Energy Gen,HVAC,Appliances,LightPlugs
0,2013-10-01 00:15:00,767,175.0,60.95,93.1,0.0,0.0,0.000,0.0,74.464444,0.00,68.130,59.963,35.040
1,2013-10-01 00:30:00,768,250.0,60.63,93.2,0.0,0.0,0.000,0.0,74.503333,0.75,114.458,65.500,51.130
2,2013-10-01 00:45:00,769,182.5,60.13,93.4,0.0,0.0,0.000,0.0,74.330000,0.75,39.500,72.146,47.475
3,2013-10-01 01:00:00,770,165.0,59.66,93.5,0.0,0.0,0.003,0.0,74.203333,0.75,23.792,76.922,46.830
4,2013-10-01 01:15:00,771,347.5,59.06,93.5,0.0,0.0,0.010,0.0,74.353333,0.00,127.480,90.505,109.500
5,2013-10-01 01:30:00,772,242.5,58.68,93.8,0.0,0.0,0.003,0.0,74.406667,0.75,73.417,87.005,61.625
6,2013-10-01 01:45:00,773,200.0,58.37,94.0,0.0,0.0,0.000,0.0,74.231111,0.75,39.625,88.646,49.725
7,2013-10-01 02:00:00,774,170.0,58.15,94.2,0.0,0.0,0.000,0.0,74.152222,0.75,21.917,81.276,46.350
8,2013-10-01 02:15:00,775,335.0,57.89,94.2,0.0,0.0,0.000,0.0,74.246667,0.00,129.750,80.885,102.750
9,2013-10-01 02:30:00,776,215.0,57.56,94.3,0.0,0.0,0.000,0.0,74.256667,0.75,74.838,69.776,52.355

We have successfully created a new dataset that has only 14 Features. This is a much more manageable number than 98 as before. It also allows us to carry out some simple comparisons between overall energy and specific energy without having to plot several number of features. One potential problem we can see is that various features from the weather station seem to have lots of zero values, this will be investigated in the EDA section. The next block renames some of the less intuitive columns into something simpler.

In [9]:
# Rename columns
df_agg = df_agg.rename(index=str, columns={
                                    "RECORD" : "Entry No",
                                    "main_Tot": "Mains Overall",
                                    "Outside_Tmp_Avg": "Outdoor Temp",
                                    "Outside_RH_Avg" : "Outdoor RH",
                                    "wind_speed_mean": "Wind Speed",
                                    "wind_dir_mean" : "Wind Direction",
                                    "SlrW1_Avg" : "Solar Radiation",
                                    "Rain_in_Tot" : "Percipitation"
                                })

# Display the new data
df_agg.head()

,TIMESTAMP,Entry No,Mains Overall,Outdoor Temp,Outdoor RH,Wind Speed,Wind Direction,Solar Radiation,Percipitation,Indoor Temp,Energy Gen,HVAC,Appliances,LightPlugs
0,2013-10-01 00:15:00,767,175.0,60.95,93.1,0.0,0.0,0.000,0.0,74.464444,0.00,68.130,59.963,35.040
1,2013-10-01 00:30:00,768,250.0,60.63,93.2,0.0,0.0,0.000,0.0,74.503333,0.75,114.458,65.500,51.130
2,2013-10-01 00:45:00,769,182.5,60.13,93.4,0.0,0.0,0.000,0.0,74.330000,0.75,39.500,72.146,47.475
3,2013-10-01 01:00:00,770,165.0,59.66,93.5,0.0,0.0,0.003,0.0,74.203333,0.75,23.792,76.922,46.830
4,2013-10-01 01:15:00,771,347.5,59.06,93.5,0.0,0.0,0.010,0.0,74.353333,0.00,127.480,90.505,109.500

As I am personally more familiar with Celsius units for temperature, I have defined a function below that changes the units and applied it to the Outdoor Temp and Indoor Temp columns. The conversion equation can be found [here.](https://www.rapidtables.com/convert/temperature/fahrenheit-to-celsius.html)

In [10]:
def faren_to_celsius(T):
    
    """
    Converts a temperature T 
    from Farenheit to Celsius
    
    """
    # Apply the equation and round to 2 d.p.
    T_celsius = round((T - 32) / 1.8, 2)
    
    return T_celsius

In [12]:
# Apply the function to the two columns
df_agg["Outdoor Temp"] = df_agg["Outdoor Temp"].apply(faren_to_celsius)
df_agg["Indoor Temp"] = df_agg["Indoor Temp"].apply(faren_to_celsius)

# Preview Changes
df_agg[["Indoor Temp", "Outdoor Temp"]].head(10)

   Indoor Temp  Outdoor Temp
0        23.59         16.08
1        23.61         15.91
2        23.52         15.63
3        23.45         15.37
4        23.53         15.03
5        23.56         14.82
6        23.46         14.65
7        23.42         14.53
8        23.47         14.38
9        23.48         14.20

The final thing we need to add prior to saving this dataset is the combination of Solar energy and Mains energy. From the limited description of the dataset we can safely assume that the original mains_Tot columns measures only the electricity coming in from the provider, i.e. doesn't include any solar contribution. This is demonstrated below.

In [13]:
# Get original definition
define_columns(["main_Tot"], legend_df)

main_Tot : Energy, Main electrical feed

We will therefore, to get the total energy usage of the house at that instance, we need to aggregate the main electrical feed and solar. We will also still keep the separate columns as we can explore them in the next sections.

In [14]:
# Create a column of overall energy
df_agg["Overall Energy"] = df_agg["Mains Overall"] + df_agg["Energy Gen"]

We then save this new dataset to a csv file to be easily accessible.

In [15]:
df_agg.to_csv("data/agg_data.csv", index = False)

### Conclusion
We have now successfully manipulated the data, by carrying out the following actions:

- Choosing specific features and grouping the into categories
- Creating a new dataset with these groups by aggregating columns from the original file

The next section will focus on feature extraction from this newly created dataset.

## Feature Extraction
This section will look at the existing data / features created from the above new dataset and try to extract some new features. We will initially look at the date column and get as much information out of that, which will be a useful way to slice and dice our dataset later on for specific criteria. We will then proceed on calculating some common features with time series data.

### Date column

We start by looking at the date column and the features we can extract. A date feature is a classical example of how just one feature can provide so much more information. In the following function we take the date column and extract : 

- Year
- Month / Month Name
- Day / Day Name
- Week
- Hour
- Season
- Time of Day
- Whether it is a weekend

In [16]:
def get_date_features(df, df_date_column):
    
    """
    Takes in a dataframe with a datetime column.
    It extract several features adds them to the dataframe.
    
    Features Inlude:
    
    - Year
    - Month / Month Name
    - Day / Day Name
    - Week
    - Hour
    - Season
    - Time of Day
    - Whether it is a weekend
    
    """
    
    # Ensure the column is type datetime
    df[df_date_column] = pd.to_datetime(df[df_date_column])
    
    # Get the Year / Date / Month / Day / Week / Hour
    dates = list(df[df_date_column].dt.strftime('%d/%m/%Y'))
    hour_timestamp = list(df[df_date_column].dt.strftime('%d/%m/%Y %H:00'))
    years = list(df[df_date_column].dt.year)
    months = list(df[df_date_column].dt.month)
    month_names = list(df[df_date_column].dt.month_name().apply(lambda x: x[:3]))
    days = list(df[df_date_column].dt.day_name().apply(lambda x: x[:3]))
    weeks = list(df[df_date_column].dt.week)
    hours = list(df[df_date_column].dt.hour)
    
    
    # Time of Day
    #------------
    
    # Create categories for time of day
    # Time of Day : List of hours
    h = {
        "Early Hours": [0, 1, 2, 3, 4, 5],
         "Mornig-Midday": [6, 7, 8, 9, 10, 11],
         "Afternoon": [12, 13, 14, 15, 16, 17],
         "Night" : [18, 19, 20, 21, 22, 23]
        }
    
    # List for time of day
    time_of_day = []
    
    # Loop through all hours and figure out what time of day it is
    for hour in hours:
        
        # Loop through the time of day and time
        for key, value in h.items():
            
            # If the hour is part of any of the accepted hours
            if hour in value:
                
                # Add the time of day
                time_of_day.append(key)
                
                # Get the next hour
                continue
            
            continue
    

    # Seasons
    #--------
    
    # Create a seasons dictionary defining which months fall in each season
    d = {"Winter": [12, 1, 2], "Spring": [3, 4, 5], "Summer": [6, 7, 8], "Autumn" : [9, 10, 11]}
    
    # Season list
    seasons = []

    # Go through all months and find out which season they belong
    for x in months:
        
        for key, value in d.items():

            if x in value:
                seasons.append(key)
                
                continue

            continue

    # Add to dataset
    df["Date"] = dates
    df["Date"] = pd.to_datetime(df["Date"], format = '%d/%m/%Y') # Format date for d/m/yy
    df["Hour Timestamp"] = hour_timestamp
    df["Month"] = month_names
    df["Day"] = days
    df["Year"] = years
    df["Week"] = weeks
    df["Season"] = seasons
    df["Hour"] = hours
    df["Time_of_day"] = time_of_day
    
    # Create the is_weekend column
    # If the day is Sun or Sat is 1 else 0
    df["is_weekend"] = ((df["Day"] == "Sun") | (df["Day"] == "Sat")).astype(int)
    
    return df

In [17]:
# Create a copy
df_extracted = df_agg.copy()

# Get the new feautres
df_extracted = get_date_features(df_extracted, "TIMESTAMP")

In [18]:
df_extracted.head()

,TIMESTAMP,Entry No,Mains Overall,Outdoor Temp,Outdoor RH,Wind Speed,Wind Direction,Solar Radiation,Percipitation,Indoor Temp,...,Date,Hour Timestamp,Month,Day,Year,Week,Season,Hour,Time_of_day,is_weekend
0,2013-10-01 00:15:00,767,175.0,16.08,93.1,0.0,0.0,0.000,0.0,23.59,...,2013-10-01,01/10/2013 00:00,Oct,Tue,2013,40,Autumn,0,Early Hours,0
1,2013-10-01 00:30:00,768,250.0,15.91,93.2,0.0,0.0,0.000,0.0,23.61,...,2013-10-01,01/10/2013 00:00,Oct,Tue,2013,40,Autumn,0,Early Hours,0
2,2013-10-01 00:45:00,769,182.5,15.63,93.4,0.0,0.0,0.000,0.0,23.52,...,2013-10-01,01/10/2013 00:00,Oct,Tue,2013,40,Autumn,0,Early Hours,0
3,2013-10-01 01:00:00,770,165.0,15.37,93.5,0.0,0.0,0.003,0.0,23.45,...,2013-10-01,01/10/2013 01:00,Oct,Tue,2013,40,Autumn,1,Early Hours,0
4,2013-10-01 01:15:00,771,347.5,15.03,93.5,0.0,0.0,0.010,0.0,23.53,...,2013-10-01,01/10/2013 01:00,Oct,Tue,2013,40,Autumn,1,Early Hours,0

We have successfully added the new features to the dataset from the timestamp column. These will come very handy later on in the EDA section. We will now proceed with the other features.

### Overall Energy

Time series data can have various features extracted from them that will allow us to do some very efficient analysis. For the purpose of this study we will only focus on two key features :

- Lag Times 
- Moving Average

Later on when we attempt to build models to predict energy usage we will explore more features and their effect in a proper feature engineering method. Feature extraction and feature engineering will enable us to more effectively model the relationship between the inputs and the outputs of a machine learning model. Having the right features selected or engineering can then lead to the use of simpler models to produce the same result but get better interpretability.

#### Lag Time Features
The lag time feature is a commonly used method in time series data. It is usually applied to transform a simple problem to a supervised one. It essentially takes a time series feature and calculates the value of the same feature but _t - n_ points before. The best example of this, is a simple prediction model for the stock market prices. Along with other information, analysts will use the stock price of previous days or hours to help them predict the current price. 

In this example we will calculate lag times for the _Overall Energy_ and weather columns. For now we will only use a shift window of 1. Later on when we start modeling we can experiment with other window sizes. When creating a shifted column the first row has to be of NaN value it isn't possible to have the previous value of the first entry. For this reason we will need to discard the first row, however we will retain the it for now with the "NaN" values to allows us to experiment later on when we are visualising the data. Otherwise each time we want to experiment we will be losing valuable data. 

The main reason we are using a shift method on weather columns such as _Outdoor Temp_ and _Outdoor RH_ is because there is usually a natural "lag" in the effect of weather conditions. As an example it might begin to get cold outside at around 2am but it's only at 4am that the heating will need to work harder , or consume additional energy.

In [19]:
def shift_cols(df, cols, lag = 1):
    
    """
    Takes in a df and the corresponding
    list of columns and applies the given
    lag time / shift to them by creating
    a new column named "col t-lag"
    
    """    
    
    # Loop through all columns
    for col in cols: 
        
        new_col_name = col + " t-" + str(lag)
        # Create a shifted columns for the energy column
        df[new_col_name] = df_extracted[col].shift(lag)
        
    return df

In [20]:
# Create a copy
df_shifted = df_extracted.copy()

# Define columns to apply the shift
cols_to_apply = ["Overall Energy", "Outdoor Temp", "Outdoor RH", "Indoor Temp"]

# Shift the data
df_shifted = shift_cols(df_shifted, cols_to_apply)

# Get a preview of the data
df_shifted.head(50)

,TIMESTAMP,Entry No,Mains Overall,Outdoor Temp,Outdoor RH,Wind Speed,Wind Direction,Solar Radiation,Percipitation,Indoor Temp,...,Year,Week,Season,Hour,Time_of_day,is_weekend,Overall Energy t-1,Outdoor Temp t-1,Outdoor RH t-1,Indoor Temp t-1
0,2013-10-01 00:15:00,767,175.0,16.08,93.10,0.000,0.0,0.000,0.0,23.59,...,2013,40,Autumn,0,Early Hours,0,NaN,NaN,NaN,NaN
1,2013-10-01 00:30:00,768,250.0,15.91,93.20,0.000,0.0,0.000,0.0,23.61,...,2013,40,Autumn,0,Early Hours,0,175.00,16.08,93.10,23.59
2,2013-10-01 00:45:00,769,182.5,15.63,93.40,0.000,0.0,0.000,0.0,23.52,...,2013,40,Autumn,0,Early Hours,0,250.75,15.91,93.20,23.61
3,2013-10-01 01:00:00,770,165.0,15.37,93.50,0.000,0.0,0.003,0.0,23.45,...,2013,40,Autumn,1,Early Hours,0,183.25,15.63,93.40,23.52
4,2013-10-01 01:15:00,771,347.5,15.03,93.50,0.000,0.0,0.010,0.0,23.53,...,2013,40,Autumn,1,Early Hours,0,165.75,15.37,93.50,23.45
5,2013-10-01 01:30:00,772,242.5,14.82,93.80,0.000,0.0,0.003,0.0,23.56,...,2013,40,Autumn,1,Early Hours,0,347.50,15.03,93.50,23.53
6,2013-10-01 01:45:00,773,200.0,14.65,94.00,0.000,0.0,0.000,0.0,23.46,...,2013,40,Autumn,1,Early Hours,0,243.25,14.82,93.80,23.56
7,2013-10-01 02:00:00,774,170.0,14.53,94.20,0.000,0.0,0.000,0.0,23.42,...,2013,40,Autumn,2,Early Hours,0,200.75,14.65,94.00,23.46
8,2013-10-01 02:15:00,775,335.0,14.38,94.20,0.000,0.0,0.000,0.0,23.47,...,2013,40,Autumn,2,Early Hours,0,170.75,14.53,94.20,23.42
9,2013-10-01 02:30:00,776,215.0,14.20,94.30,0.000,0.0,0.000,0.0,23.48,...,2013,40,Autumn,2,Early Hours,0,335.00,14.38,94.20,23.47
10,2013-10-01 02:45:00,777,172.5,13.96,94.30,0.000,0.0,0.000,0.0,23.34,...,2013,40,Autumn,2,Early Hours,0,215.75,14.20,94.30,23.48
11,2013-10-01 03:00:00,778,157.5,13.65,94.00,0.000,0.0,0.000,0.0,23.28,...,2013,40,Autumn,3,Early Hours,0,173.25,13.96,94.30,23.34
12,2013-10-01 03:15:00,779,315.0,13.56,94.30,0.000,0.0,0.000,0.0,23.33,...,2013,40,Autumn,3,Early Hours,0,158.25,13.65,94.00,23.28
13,2013-10-01 03:30:00,780,195.0,13.34,94.20,0.000,0.0,0.000,0.0,23.32,...,2013,40,Autumn,3,Early Hours,0,315.00,13.56,94.30,23.33
14,2013-10-01 03:45:00,781,172.5,13.48,94.60,0.000,0.0,0.003,0.0,23.21,...,2013,40,Autumn,3,Early Hours,0,195.75,13.34,94.20,23.32
15,2013-10-01 04:00:00,782,157.5,13.35,94.60,0.000,0.0,0.000,0.0,23.16,...,2013,40,Autumn,4,Early Hours,0,173.25,13.48,94.60,23.21
16,2013-10-01 04:15:00,783,332.5,13.17,94.60,0.000,0.0,0.003,0.0,23.22,...,2013,40,Autumn,4,Early Hours,0,158.25,13.35,94.60,23.16
17,2013-10-01 04:30:00,784,215.0,13.12,94.70,0.000,0.0,0.000,0.0,23.24,...,2013,40,Autumn,4,Early Hours,0,332.50,13.17,94.60,23.22
18,2013-10-01 04:45:00,785,200.0,12.98,94.70,0.000,0.0,0.003,0.0,23.16,...,2013,40,Autumn,4,Early Hours,0,215.75,13.12,94.70,23.24
19,2013-10-01 05:00:00,786,172.5,12.88,94.70,0.000,0.0,0.000,0.0,23.13,...,2013,40,Autumn,5,Early Hours,0,200.75,12.98,94.70,23.16
20,2013-10-01 05:15:00,787,350.0,12.87,94.90,0.000,0.0,0.007,0.0,23.18,...,2013,40,Autumn,5,Early Hours,0,173.25,12.88,94.70,23.13
21,2013-10-01 05:30:00,788,212.5,12.82,95.00,0.000,0.0,0.000,0.0,23.18,...,2013,40,Autumn,5,Early Hours,0,350.75,12.87,94.90,23.18
22,2013-10-01 05:45:00,789,177.5,12.89,95.10,0.000,0.0,0.003,0.0,23.05,...,2013,40,Autumn,5,Early Hours,0,212.50,12.82,95.00,23.18
23,2013-10-01 06:00:00,790,157.5,12.91,95.10,0.000,0.0,0.000,0.0,22.99,...,2013,40,Autumn,6,Mornig-Midday,0,178.25,12.89,95.10,23.05
24,2013-10-01 06:15:00,791,370.0,13.02,95.20,0.000,0.0,0.000,0.0,23.04,...,2013,40,Autumn,6,Mornig-Midday,0,158.25,12.91,95.10,22.99
25,2013-10-01 06:30:00,792,247.5,13.02,95.20,0.000,0.0,0.000,0.0,23.06,...,2013,40,Autumn,6,Mornig-Midday,0,370.75,13.02,95.20,23.04
26,2013-10-01 06:45:00,793,187.5,12.88,95.10,0.000,0.0,0.000,0.0,22.94,...,2013,40,Autumn,6,Mornig-Midday,0,247.50,13.02,95.20,23.06
27,2013-10-01 07:00:00,794,172.5,12.78,95.10,0.000,0.0,0.010,0.0,22.90,...,2013,40,Autumn,7,Mornig-Midday,0,188.25,12.88,95.10,22.94
28,2013-10-01 07:15:00,795,540.0,12.75,95.20,0.000,0.0,0.096,0.0,22.95,...,2013,40,Autumn,7,Mornig-Midday,0,173.25,12.78,95.10,22.90
29,2013-10-01 07:30:00,796,437.5,12.93,95.30,0.000,0.0,0.861,0.0,23.01,...,2013,40,Autumn,7,Mornig-Midday,0,540.75,12.75,95.20,22.95
30,2013-10-01 07:45:00,797,382.5,13.32,95.40,0.000,0.0,5.287,0.0,22.95,...,2013,40,Autumn,7,Mornig-Midday,0,437.50,12.93,95.30,23.01
31,2013-10-01 08:00:00,798,352.5,13.47,95.40,0.000,0.0,11.330,0.0,22.92,...,2013,40,Autumn,8,Mornig-Midday,0,383.25,13.32,95.40,22.95
32,2013-10-01 08:15:00,799,562.5,13.81,95.30,0.000,0.0,19.000,0.0,22.99,...,2013,40,Autumn,8,Mornig-Midday,0,354.75,13.47,95.40,22.92
33,2013-10-01 08:30:00,800,1225.0,14.18,95.30,0.000,0.0,29.360,0.0,23.05,...,2013,40,Autumn,8,Mornig-Midday,0,567.00,13.81,95.30,22.99
34,2013-10-01 08:45:00,801,958.0,14.50,95.20,0.000,0.0,36.240,0.0,22.97,...,2013,40,Autumn,8,Mornig-Midday,0,1236.25,14.18,95.30,23.05
35,2013-10-01 09:00:00,802,998.0,14.94,95.00,0.000,0.0,46.250,0.0,22.91,...,2013,40,Autumn,9,Mornig-Midday,0,973.00,14.50,95.20,22.97
36,2013-10-01 09:15:00,803,840.0,15.37,94.80,0.000,0.0,57.570,0.0,22.97,...,2013,40,Autumn,9,Mornig-Midday,0,1019.75,14.94,95.00,22.91
37,2013-10-01 09:30:00,804,347.5,15.80,94.40,0.000,0.0,75.620,0.0,22.99,...,2013,40,Autumn,9,Mornig-Midday,0,869.25,15.37,94.80,22.97
38,2013-10-01 09:45:00,805,305.0,16.38,94.10,0.000,0.0,92.900,0.0,22.92,...,2013,40,Autumn,9,Mornig-Midday,0,388.75,15.80,94.40,22.99
39,2013-10-01 10:00:00,806,292.5,17.05,93.30,0.000,0.0,105.400,0.0,22.87,...,2013,40,Autumn,10,Mornig-Midday,0,358.25,16.38,94.10,22.92
40,2013-10-01 10:15:00,807,627.5,17.53,91.40,0.000,0.0,119.400,0.0,22.94,...,2013,40,Autumn,10,Mornig-Midday,0,352.50,17.05,93.30,22.87
41,2013-10-01 10:30:00,808,192.5,18.02,88.90,0.000,0.0,139.000,0.0,22.98,...,2013,40,Autumn,10,Mornig-Midday,0,697.25,17.53,91.40,22.94
42,2013-10-01 10:45:00,809,630.0,18.47,85.30,0.000,0.0,148.100,0.0,22.92,...,2013,40,Autumn,10,Mornig-Midday,0,274.30,18.02,88.90,22.98
43,2013-10-01 11:00:00,810,707.5,19.02,82.00,0.000,0.0,148.100,0.0,22.91,...,2013,40,Autumn,11,Mornig-Midday,0,716.30,18.47,85.30,22.92
44,2013-10-01 11:15:00,811,900.0,19.54,78.72,0.175,274.0,184.400,0.0,22.99,...,2013,40,Autumn,11,Mornig-Midday,0,795.30,19.02,82.00,22.91
45,2013-10-01 11:30:00,812,715.0,19.96,76.42,0.437,288.4,322.300,0.0,23.04,...,2013,40,Autumn,11,Mornig-Midday,0,1010.30,19.54,78.72,22.99
46,2013-10-01 11:45:00,813,615.0,21.77,69.70,1.313,138.7,598.500,0.0,23.04,...,2013,40,Autumn,11,Mornig-Midday,0,928.00,19.96,76.42,23.04
47,2013-10-01 12:00:00,814,155.0,22.49,67.50,1.576,162.3,622.600,0.0,23.11,...,2013,40,Autumn,12,Afternoon,0,1011.00,21.77,69.70,23.04
48,2013-10-01 12:15:00,815,577.5,23.23,66.36,1.616,135.5,593.600,0.0,23.29,...,2013,40,Autumn,12,Afternoon,0,562.30,22.49,67.50,23.11
49,2013-10-01 12:30:00,816,277.5,23.97,63.73,1.771,118.6,689.600,0.0,23.41,...,2013,40,Autumn,12,Afternoon,0,963.80,23.23,66.36,23.29

As seen when scrolling on the right we have the shifted versions of the columns we specified.

#### Rolling Window Statistics
As the name suggests, here we will calculate rolling window statistics for our columns. Rolling can be carried out across specific windows (i.e. the mean of last x values) or calculates as a mean of the entire dataset up to that point using the expanding() function. The function applies the function to the same columns as above.

In [21]:
# Function to calculate the rolling mean / average
def rolling_average(df, cols, window = None, add_stats = True):
    
    """
    Takes a df and a corresponding list of 
    columns. It calculates the rolling average
    for each column and adds it to the dataframe
    
    If "window" is specified it uses a moving average
    along a window, i.e. mean of last five values. 
    Otherwise is calculates an expanding one along the
    dataset up to that point.
    
    If "add_stats" is true then the rolling min and max
    is also calculated
    
    """
    
    # Loop through columns
    for col in cols:
        
        # Check if a window was specified
        if window is None:
            
            # Name of new column
            new_col_name_mean = col + "ExpMean"
            
            # Calculate expanding statistics
            expanded_col = df[col].expanding()
            
            # Add the mean
            df[new_col_name_mean] = expanded_col.mean()
            
            # If additional stats
            if add_stats:
                
                # Min and max names
                # Name of new column
                new_col_name_max = col + "ExpMax"
                new_col_name_min = col + "ExpMin"
                
                # Add the min
                df[new_col_name_min] = expanded_col.min()
                # Add the max
                df[new_col_name_max] = expanded_col.max()
        
        # If window was specified
        else:
        
            # Name of new column
            new_col_name_mean = col + "WinMean" + str(window)

            # Calculate window based on input, with min_periods 1 to avoid NaNs
            windowed_col = df[col].rolling(window = window, min_periods = 1)

            # Add the mean
            df[new_col_name_mean] = windowed_col.mean()

            # If additional stats
            if add_stats:

                # Min and max names
                # Name of new column
                new_col_name_max = col + "WinMax" + str(window)
                new_col_name_min = col + "WinMin" + str(window)

                # Add the min
                df[new_col_name_min] = windowed_col.min()
                # Add the max
                df[new_col_name_max] = windowed_col.max()

    return df

In [22]:
# Create a copy
df_rolling = df_shifted.copy()

# Get the expanded statistics for the columns
df_rolling = rolling_average(df_rolling, cols_to_apply)

# Show the data
df_rolling.head()

,TIMESTAMP,Entry No,Mains Overall,Outdoor Temp,Outdoor RH,Wind Speed,Wind Direction,Solar Radiation,Percipitation,Indoor Temp,...,Overall EnergyExpMax,Outdoor TempExpMean,Outdoor TempExpMin,Outdoor TempExpMax,Outdoor RHExpMean,Outdoor RHExpMin,Outdoor RHExpMax,Indoor TempExpMean,Indoor TempExpMin,Indoor TempExpMax
0,2013-10-01 00:15:00,767,175.0,16.08,93.1,0.0,0.0,0.000,0.0,23.59,...,175.00,16.080000,16.08,16.08,93.100000,93.1,93.1,23.590000,23.59,23.59
1,2013-10-01 00:30:00,768,250.0,15.91,93.2,0.0,0.0,0.000,0.0,23.61,...,250.75,15.995000,15.91,16.08,93.150000,93.1,93.2,23.600000,23.59,23.61
2,2013-10-01 00:45:00,769,182.5,15.63,93.4,0.0,0.0,0.000,0.0,23.52,...,250.75,15.873333,15.63,16.08,93.233333,93.1,93.4,23.573333,23.52,23.61
3,2013-10-01 01:00:00,770,165.0,15.37,93.5,0.0,0.0,0.003,0.0,23.45,...,250.75,15.747500,15.37,16.08,93.300000,93.1,93.5,23.542500,23.45,23.61
4,2013-10-01 01:15:00,771,347.5,15.03,93.5,0.0,0.0,0.010,0.0,23.53,...,347.50,15.604000,15.03,16.08,93.340000,93.1,93.5,23.540000,23.45,23.61

We have added the new columns as seen from the above example which provide additional information and keeps tracking of the mean , min and max values of the corresponding columns. The second addition we want to make is a moving average for the past 24 hours. This takes into account what happened the past 24 hours and aggregates it together. To work out this we need to find the correct window. Given that we have 15 minute intervals we need to workout how many 15 minute intervals are in 24 hours. The calculation is:


60 minutes / hour * 24 hours / day = 1440 minutes / day divided by 15 minutes / interval = 96 intervals / day

In [23]:
df_rolling = rolling_average(df_rolling, cols_to_apply, window = 96)

# Display the data
df_rolling.head()

,TIMESTAMP,Entry No,Mains Overall,Outdoor Temp,Outdoor RH,Wind Speed,Wind Direction,Solar Radiation,Percipitation,Indoor Temp,...,Overall EnergyWinMax96,Outdoor TempWinMean96,Outdoor TempWinMin96,Outdoor TempWinMax96,Outdoor RHWinMean96,Outdoor RHWinMin96,Outdoor RHWinMax96,Indoor TempWinMean96,Indoor TempWinMin96,Indoor TempWinMax96
0,2013-10-01 00:15:00,767,175.0,16.08,93.1,0.0,0.0,0.000,0.0,23.59,...,175.00,16.080000,16.08,16.08,93.100000,93.1,93.1,23.590000,23.59,23.59
1,2013-10-01 00:30:00,768,250.0,15.91,93.2,0.0,0.0,0.000,0.0,23.61,...,250.75,15.995000,15.91,16.08,93.150000,93.1,93.2,23.600000,23.59,23.61
2,2013-10-01 00:45:00,769,182.5,15.63,93.4,0.0,0.0,0.000,0.0,23.52,...,250.75,15.873333,15.63,16.08,93.233333,93.1,93.4,23.573333,23.52,23.61
3,2013-10-01 01:00:00,770,165.0,15.37,93.5,0.0,0.0,0.003,0.0,23.45,...,250.75,15.747500,15.37,16.08,93.300000,93.1,93.5,23.542500,23.45,23.61
4,2013-10-01 01:15:00,771,347.5,15.03,93.5,0.0,0.0,0.010,0.0,23.53,...,347.50,15.604000,15.03,16.08,93.340000,93.1,93.5,23.540000,23.45,23.61

We have added all the new features to the dataset.

## Notebook Conclusion

In this notebook we have carried managed to succesfully carry out some data manipulation and preliminary feature extraction. We were able to:

- Manipulate the data to aggregate different sensors together to create a simpler representation by using categories such as "HVAC", "Appliances" etc.

- We also carried out some simple data extraction techniques to get important characteristics from the _TIMESTAMP_ column that will allow us to understand different seasonality of the data. 

- Finally, we looked at some different features we can extract from the energy and weather columns such as Lag Time and Rolling Window statistics. 

We will now save two different versions of the data, one will be the final version and the second one will be the version just after the feature extraction of the seasonality. The reason behind this, is to allow us to experiment with a "fresh" data set later on to find the optimum number of window sizes and shifts to suit our analysis. The following notebook will address topics such as this one, looking at Exploratory Data Analysis (EDA).

In [24]:
# Save the two files
df_extracted.to_csv("data/data_extracted_dates.csv", index = False)
df_rolling.to_csv("data/data_rolling.csv", index = False)